[submodule "docker-circleci-tox"]
	path = docker-circleci-tox
	url = ../docker-circleci-tox.git
[submodule "docker-pyenv"]
	path = docker-pyenv
	url = ../docker-pyenv.git
[submodule "docker-tox-base"]
	path = docker-tox-base
	url = ../docker-tox-base.git
[submodule "docker-tox"]
	path = docker-tox
	url = ../docker-tox.git
